Package: com.titand3v.colourmydock13
Name: ColourMyDock13
Depends: mobilesubstrate, com.spark.libsparkcolourpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Colour your dock with spark colour picker
Maintainer: LGarivDev
Author: TitanD3v
Section: Tweaks
